@import '../abstracts/mixins';
/* ------------------------------ Text Box ------------------------------ */
.text-box {
  
  &.rounded {
    padding: 2rem;
    background-color: $color-gray-100;
    border-radius: $border-radius;
  }

  p {
    @include font-size(13, 16);
    color: rgba($color-white, 0.6);

    &.text-center {
      text-align: center;
    }

    span {
      display: inline-block;
      color: $color-white;
    }
  }
}

/*
.btn-group {
  display: flex;
  justify-content: space-around;
}
*/


/* ------------------------------ FORM ------------------------------ */
.form {
  display: block;
  width: 100%;
}

.field-group {
  position: relative;
  width: 100%;
  margin-top: 2.4rem;
  
  &--half {
    width: calc(50% - 1.2rem);
  }

  &__label {
    display: block;
    @include font-size(14, 14, 500);
    color: $color-gray-500;
    margin-bottom: 8px;

    &--blind {
      display: none;
    }

    & .icon-required {
      display: inline-block;
      padding-left: 3px;
      color: $color-red;
      font-size: 1.2rem;
      vertical-align: top;
    }
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid $color-gray-200;
    background-color: $color-gray-200;
    border-radius: $border-radius; 
    transition: all 0.3s; 
    
    &--invalid {
      border-color: $color-red;
    }

    &--disabled, & .field-group__input:disabled {
      border: 1px solid $color-black-200;
      background-color: $color-black-200;
		  cursor: not-allowed;
    }

    &:focus-within {
      border-color: rgba($color-gray-300, 0.5);
      background-color: rgba($color-gray-300, 0.5);
    }
  }

  &__btn {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-gray-500;
    padding: 1.4rem 1rem;
    transition: all 0.3s;
    z-index: 2; 

    &.expanded {
      color: $color-primary;
    }
  }

  &__input, &__textarea {
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.4rem;
    color: $color-white;
    outline: 0;
  }

  &__textarea {
    height: 118px;
  }

  &__help {
    display: block;
    margin-top: 5px;
    color: $color-gray-500;
    font-size: 1.2rem;
    text-align: right;

    &--error {
      color: $color-red;  
    }
  }
}


/* ------------------------------ SEARCH ------------------------------ */
.search-form {
  
  .icon.search {
    margin-left: 1.2rem;
    margin-top: 0.2rem;
  }
}

/* ------------------------------ 검색 필터 Drop Down ------------------------------ */
.filter-dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;

  width: auto;
  min-width: 124px;

  &__inner {
    position: relative;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s;  

    &.expanded {
      .filter-dropdown__arrow {
        top: 12px;
        transform: rotateZ(180deg);
      }

      .filter-dropdown__list {
        display: block;
        
      }
    }
  }

  &__arrow {
    @include position(absolute, $top: 14px, $right: 12px);
    @include size($width: 0, $height: 0);
    border-top: 6px solid #898992;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-radius: 2px;
    pointer-events: none;
  }
  
  &__label {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
    padding-right: 3.6rem;
    color: rgba($color-white, 0.6);
  }
  
  &__list {
    display: none;
    @include position(absolute, $top: 108%, $right: 0);
    width: auto;
    min-width: 86px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.4rem;  
    background-color: $color-gray-200;
    box-shadow: $box-shadow;
    animation: display-none-transition 0.2s ease-in-out forwards;
    transform-origin: top center;
    overflow: hidden;
    z-index: 2;
  }

  &__item {
    padding: 1rem 1rem;
    color: rgba($color-white, 0.6);
    border-bottom: 1px solid rgba($color-gray-300, 0.3);
    
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #414141;
    }    
  }
}

@keyframes display-none-transition {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


/* ------------------------------ CUSTOM CHECKBOX ------------------------------ */
.checkbox {
  position: relative;
  margin-bottom: 1.6rem;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 34px;
    min-height: 24px;
  }

  &__title {
    display: inline-block;
    @include font-size(13, 15, 400);
    color: $color-gray-700;
    vertical-align: middle;

    &--large {
      @include font-size(16, 16, 500);
      color: $color-white;
    }
  }

  &__link {
    @include position(absolute, $top: 50%, $right: 0);
    @include font-size(13, 15, 400);
    color: $color-gray-600;
    padding: 0 5px;
    z-index: 2;
    transform: translateY(-50%);
  }
  
  &--hidden {
    display: none;
    
    &:checked {
      display: block;
    }
  }
  
  &--show {
    @include position(absolute, $top: 2px, $left: 0);
    height: 22px;
    width: 22px;
    border: 1px solid $color-gray-400;
    border-radius: 50%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 7px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid $color-gray-300;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }  
  }

  &--hidden:checked ~ &--show:after {
    display: block;
  }

  &--primary {
    &:checked ~ .checkbox--show {
      background-color: $color-primary;
      border-color: $color-primary;

      &::after {
        border-color: $color-white; 
      }
    }
    &:disabled ~ .checkbox--show {
      background-color: $color-white;
      //border: 1px solid $grey-100;
      cursor: not-allowed;
    }
    &:checked:disabled ~ .checkbox--show {
      background-color: $color-primary;
      opacity: 0.6;
      cursor: not-allowed;

      &::after {
        border-color: $color-white; 
      }
    }
    
  }
}

/* ------------------------------ CUSTOM RADIO ------------------------------ */
.radiobox {
  position: relative;
  margin-bottom: 1.4rem;

  &__wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 34px;
    height: 24px;
  }

  &__title {
    display: inline-block;
    font-size: 1.3rem;
    color: $color-gray-700;
    vertical-align: middle;

    &--large {
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-black-100;
    }
  }
  
  &--hidden {
    display: none;
    
    &:checked {
      display: block;
    }
  }
  
  &--show {
    @include position(absolute, $top: 0, $left: 0);
    @include size($width: 22px, $height: 22px);
    border: 1px solid $color-gray-400;
    border-radius: 50%;

    &::after {
      content: '';
      @include position(absolute, $top: 3px, $left: 3px);
      @include size($width: 14px, $height: 14px);
      background-color: transparent;
      border-radius: 100%;
      transform: scale(0);
      transition: all 0.2s ease;
    }  
  }

  &--hidden:checked ~ &--show:after {
    display: block;
  }

  &--primary {
    &:checked ~ .radiobox--show {
      border-color: $color-primary;

      &::after {
        background-color: $color-primary;
        transform: scale(1);
      }
    }
    &:disabled ~ .radiobox--show {
      background-color: $color-gray-200;
      //border: 1px solid $grey-100;
      cursor: not-allowed;
    }
    &:checked:disabled ~ .radiobox--show {
      background-color: $color-primary;
      opacity: 0.6;
      cursor: not-allowed;

      &::after {
        border-color: $color-white; 
      }
    }
    
  }
}


/* ------------------------------ BUTTON ------------------------------ */
// --- button ---------------------------------------------------------
.btn {
	color: $button-base-color;  
	background-color: $button-base-bg;
  padding: $button-padding;
	display: inline-block;
	text-decoration: none;
	border-radius: $button-border-radius;
  border: 1px solid $button-base-bg;
	font-size: $button-font-size;
  line-height: 1.4;
  text-align: center;
	vertical-align: top;
	cursor: pointer;
	transition: background-color .2s, color .2s, border-color .2s;
	@include bem-button-hover($button-base-bg);

  &--full {
    width: 100%;
  }

	&.is-disabled {
    background-color: $color-gray-100;
    color: $color-gray-300;
		cursor: not-allowed;
    pointer-events: none;
	}

  & > i {
    display: inline-block;
  }
}

// --- button: sizes ---------------------------------------------------------
@include bem-button-size('small', 1.2rem);
@include bem-button-size('large', 1.8rem);

// --- button: variants ---------------------------------------------------------
@include bem-button('primary', $button-primary-bg, $button-base-bg);

// --- button: bordered ---------------------------------------------------------
@include bem-button-bordered('base', $color-gray-300, $button-base-color);
@include bem-button-bordered('primary', $button-primary-bg, $button-primary-bg);


.textbtn {
  @include font-size(12, 15, 500);
  color: $color-gray-600;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &--big {
    @include font-size(14, 17, 500);
  }

  &--primay {
    color: $color-primary;
  }

}


.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__label {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 32px;
    padding: 2px;

    .switcher__input:checked + b {
      background-color: $color-primary;
    }
    .switcher__input:checked + b::before {
      transform: translateX(28px);
    }
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  b {
    @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
    cursor: pointer;
    background-color: $color-gray-300;
    transition: .5s;
    border-radius: 50px;

    &::before {
      @include position(absolute, $top: 0, $left: 0);
      @include size($width: 28px, $height: 28px);
      content: '';      
      margin: 2px;
      background-color: $color-white;
      transition: .5s;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba($color-black, .2);
    }

  }
}


/* ------------------------------ 구독 서비스 리스트 ------------------------------ */
.planpanel {
  &__item {
    padding: 2rem;
    background-color: $color-gray-100;
    border-radius: $border-radius;
    transition: all 0.3s; 

    & + & {
      margin-top: 1.2rem;  
    }

    &--expanded {
      padding: 3rem;
      text-align: center;
    }

  }

  &__title {
    display: block;
    @include font-size(16, 16, 500);
    color: rgba($color-white, 1);
    text-align: center;
  }

  &__price {
    display: block;
    text-align: center;
    @include font-size(16, 16);
    color: rgba($color-primary, 1);

    strong {
      display: inline-block;
      @include font-size(26, 16, 500);
    }
  }

  &__description {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba($color-gray-300, 0.3);

    li {
      position: relative;
      @include font-size(12, 16); 
      color: rgba($color-white, 0.4);
      padding-left: 1rem;

      &::after {
        @include position(absolute, $top: 50%, $left: 0);
        @include size(5px, $height: 1px);
        content: '';
        background-color: $color-gray-300;
        border-radius: 50%;
      }
    }
  }

  .btn {
    margin-top: 1.5rem;
  }
  
}

/* ------------------------------ 카테고리 리스트 ------------------------------ */
// --- 작곡가, 지휘자, 오케스트라, 국가 ------------------------------------------------------------------
.category-list1 {

  &__group {
    position: relative;

    & + & {
      margin-top: 2.8rem;
    }

  }
  &__subject {
    display: flex;
    align-items: center;
    position: sticky;
    top: 48px;
    @include size(100%, $height: 48px);
    @include font-size(20, 12, 700);
    color: rgba($color-white, 0.6);
    background-color: rgba($color-black-100, .9);
    border-bottom: 1px solid $color-bline-100;
    z-index: 2;
  }

  &__itemlist {

  }

  &__item {
    border-bottom: 1px solid $color-bline-100;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font-size(16, 15, 500);
    margin: 2px 0;
    padding: 1rem 0.5rem 1.2rem 0;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &:hover, &:active {
      background: darken($color-gray-300, 17%);
    }
  }
}

// --- 시대, 장르, 극장, 아카이브 ------------------------------------------------------------------
.category-list2 {

  &__group {
    position: relative;

    & + & {
      margin-top: 2.8rem;
    }
  }

  &__item {
    border: 1px solid $color-gray-200;
    background-color: $color-gray-200;
    border-radius: $border-radius;
    overflow: hidden;

    & + & {
      margin-top: 2rem;
    }
  }

  &__link {
    position: relative;
    display: flex;
    @include size(100%, $height: 130px);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &:hover, &:active {
      background: darken($color-gray-300, 17%);
    }
  }

  &__image {
    @include size(130px, $height: 130px);
    border-radius: $border-radius;
    overflow: hidden;

    img {
      @include size(100%, $height: auto);
    }
  }

  &__info { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include size(calc( 100% - 130px), $height: 100%);
    padding: 0 2rem;

    .chips {
      @include position(absolute, $top: 2rem, $left: 2rem);

    }
  }

  &__title {
    @include font-size(16, 15, 500);
    color: $color-white;

    &--large {
      @include font-size(20, 12, 500); 
    }  
  }
}


/* ------------------------------ MODAL ------------------------------ */
.modal {
  @include position(fixed, $top: 0, $left: 0);
  @include size(100%, $height: 100%);
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  z-index: 200;
  transition: opacity .3s ease;

  &__close {
    @include position(absolute, $top: 10px, $right: 6px);
    color: $color-black-100;
    z-index: 3;
  }
  
  &__wrapper {
    @include position(relative, $top: 50%, $left: 50%);
    padding: 0 2rem;
    transform: translate(-50%, -50%);
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $color-black-200;
    transition: all .3s ease;

    &--large {
      max-width: 800px;
    }

    &--small {
      max-width: 300px;
    }
  }

  &__description {
    @include font-size(13, 15, 400);
    margin-top: 1rem;
  }

  &__header {
    position: relative;
    @include font-size(18, 12, 700);
    text-align: center;

    &--text-left {
      text-align: left;
    }
  }

  &__body {
    padding: 2rem 0;
    @include font-size(13, 15, 400);
    color: $color-gray-700;
    text-align: center;

    &--text-left {
      text-align: left;
    }

    & .terms-box {
      @include font-size(13, 15, 400);
      max-height: 50vh;
      overflow-y: auto;
    }
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    //margin-top: 15px;
    
    .btn + .btn {
      margin-left: 6px;
    }

    &--justify-end {
      justify-content: flex-end;
    }
    
  }
  
  &-enter, &-leave-active {
    opacity: 0;
  }
  
  &-enter &__container,
  &-leave-active &__container {
    transform: scale(1.1);
  }

}

