@import '../abstracts/mixins';
/* ------------------------------ COMMON ------------------------------ */
.color-primary {
  color: $color-primary;
}
.color-red {
  color: $color-red;
}
.font-small {
  font-size: 0.867em;
}
.font-w700 {
  font-weight: 700;
}

//아이콘
.icon {
	display: inline-block;
  @include size(30px, $height: 30px);
	vertical-align: middle;
  background-repeat: no-repeat;
	
	&.close {
	  background-image: icon(close);
	}
	
	&.arrow-left {
    background-image: icon(arrow-left);
	}

	&.arrow-right {
    background-image: icon(arrow-right);
	}

	&.arrow-up {
    @include size(24px, $height: 24px);
		background-image: icon(arrow-up);
	}
	&.arrow-down {
    @include size(24px, $height: 24px);
		background-image: icon(arrow-down);
	}
	&.search {
    @include size(20px, $height: 20px);
		background-image: icon(search);
	}
  &.home {
    @include size(20px, $height: 20px);
		background-image: icon(home);
  }
  &.home2 {
    @include size(30px, $height: 30px);
		background-image: icon(home2);
  }
  &.category {
    @include size(20px, $height: 20px);
		background-image: icon(category);
  }
  &.archive {
    @include size(20px, $height: 20px);
		background-image: icon(archive2);
  }
  &.setting {
    @include size(20px, $height: 20px);
		background-image: icon(setting);
  }
  &.cscenter {
    @include size(18px, $height: 18px);
		background-image: icon(cscenter2);
  }
  &.time {
    @include size(14px, $height: 14px);
		background-image: icon(time);
  }
  &.archive-save {
    @include size(16px, $height: 16px);
		background-image: icon(archive-save);
  }
  &.share {
    @include size(16px, $height: 16px);
		background-image: icon(share);
  }
  &.play {
    @include size(40px, $height: 40px);
		background-image: icon(play);
  }
}

// 헤더 메뉴 아이콘 및 사이드바 메뉴 닫기 버튼
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  &__line {
    display: block;
    @include size(20px, $height: 2px);
    border-radius: 3px;
  }

  &--menu {
    height: 16px;

    .burger__line {
      background-color: $color-primary;
    }
  }

  &--close {
    @include size(23px, $height: 23px);
    flex-direction: row;
    justify-content: center;

    .burger__line {
      position: absolute;
      @include size(2px, $height: 23px);
      background-color: $color-white;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

// 콘서트, 페스티벌, 오페라, 발레, 다큐 카테고리
.chips {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    height: 20px;
    @include font-size(12, 14, 500);
    color: $color-primary;    
    margin-right: 0.8rem;

    &--rounded {
      color: $color-black;
      background-color: $color-primary;
      border-radius: 2px;
      padding: 0 0.5rem;
    }

    &--bg-red {
      color: $color-white;
      background-color: $color-red;
    }
  }

  &__date {
    @include font-size(12, 10, 400);
    color: rgba($color-white, 0.4);
    letter-spacing: 0;
  }
}

//단락 나눔
.divider {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: $border;

  &--thick {
    border-top: none;
    padding-top: 0;
    height: 8px;
    background-color: $color-gray-100;
  }
}

.space-line {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  width: 1px;
  height: 8px;
  background-color: $color-gray-300;
}

.progressbar {
  @include size(100%, $height: 2px);
  appearance: none;

  &::-webkit-progress-bar {
    background-color:#171616;
  }

  &::-webkit-progress-value {
    background-color: #b51a1a;
  }
}


/* ------------------------------ HEADER ------------------------------ */
.header {
  @include position(fixed, $top: 0, $right: 0, $left: 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include size(100%, $height: 48px);
  padding-right: 1rem;
  background-color: $color-black-100;
  transition: all .3s;
  z-index: 100;

  &::after {
    content: '';
    @include position(absolute, $bottom: 0, $right: 0, $left: 0);
    height: 1px;
    background-color: $color-bline-100;
  }

  &__logo {
    margin-left: 2rem;

    h1 {
      @include font-size(20, 10, 700);
      color: $color-primary;
    }   
  }

  &__button {
    display: flex;

    .h-btn {
      display: block;
      padding: 5px;
      cursor: pointer;
    }
  }

  &__title {
    max-width: 210px;
    @include font-size(15, 10, 500);
    margin-left: -40px; 
    padding: 0 20px;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__drawer-trigger {
    padding: 12px 10px;
    cursor: pointer;
  }
}


/* ------------------------------ SUB COMMON ------------------------------ */
.views-wrap {
  padding: 76px 0;

  &--sticky {
    padding-top: 48px;
  }
}

.section {
  position: relative;
  padding: 0 2rem;

  &--expansion {
    padding: 0;
  }
  
  &__inner {

    &--roundbox {
      padding: 2rem;
      background-color: $color-black-200;
      border-radius: $border-radius;
    }

    &--center {
      text-align: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    .textbtn {
      @include font-size(13, 10, 500);
      padding-right: 0;      
    }

    .arrow-right {
      background-image: icon(arrow-right, '898992');
      margin-left: auto;
      width: 18px;
      height: 18px;
    }
  }
  
  &__title {
    @include font-size(20, 12, 700);

    &.text-center {
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    &--justify-start {
      justify-content: flex-start;
    }
  }
}


/* ------ 글로벌 메뉴 ----- */
// --- 사이드바, MY, 고객센터, 약관 및 정책 메뉴 사용 ------------------------------------------------------------------
.global-nav {
  &__text {
    @include font-size(12, 15,500);
    color: rgba($color-white, 0.6);
  }

  &__list {
    padding-top: 2.4rem;
  }

  &__item {
    border-bottom: 1px solid $color-bline-100;
    
    .arrow-right {
      background-image: icon(arrow-right, '898992');
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
    .collapse__list {
      padding: 0.3rem 0.5rem 1.8rem 3rem;
    }
    .collapse__item {
      margin: 2px 0;
    }
    .collapse__sublink {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include font-size(14, 16);
      padding: 5px 0;
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
      transition: all .3s;
    }
    .collapse__sublink:hover, .collapse__sublink:focus {
      color: $color-primary;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    @include font-size(15, 14);
    margin: 2px 0;
    padding: 1rem 0.5rem 1.2rem 0;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &--justify-between {
      justify-content: space-between;
    }

    .arrow-right.ml0 {
        margin-left: 0;
    }

    &:hover, &:active {
      background: darken($color-gray-300, 17%);
    }

    &--nohover {
      cursor: initial;
      &:hover, &:active {
        background: transparent;
      }
    }

    & .icon:first-child {
      margin-top: 4px;
    }
    
    & .icon + .global-nav__title {
      margin-left: 10px;
    }
  }
}

/* ------------------------------ SIDEBAR MENU ------------------------------ */
.dim-layer {
  @include position(fixed, $top: 0, $left: 0);
  @include size($width: 100vw, $height: 100vh);
  display: none;
  background-color: rgba(0,0,0,.7);
  animation: fade 0.5s;
  z-index: 199;
  
  &.is-active {
    display: block;
  }
}

.sidebar {
  @include position(fixed, $top: 0, $right: 0);
  height: 100vh;
  min-height: 100vh;
  width: 84%;
  max-width: 300px;
  background-color: #17171b;
  transition: all .3s ease-in-out;
  transform: translate(100%, 0px);
  z-index: 200;

  &.is-active {
    transition: all .3s ease-in-out;
    transition-delay: .3s;
    transform: translate(0%, 0px);
    box-shadow: $box-shadow;
  }  

  &__close {
    @include position(absolute, $top: 1rem, $right: 2rem);
    cursor: pointer;
    z-index: 3;
  }

  &__wrapper {
    @include size(100%, $height: 100%);
    padding-bottom: 6.8rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include size(100%, $height: 48px);
    background-color: #17171b;
  }

  .global-nav {
    min-height: 560px;

    &__list {
      padding: 0 2rem 2rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include size(100%, $height: 48px);
    margin-top: 2rem;
    padding: 0 3rem;
    z-index: 2;   
  }
}


/* ------------------------------ FOOTER :: company info ------------------------------ */
.company-info {
  @include font-size(11, 16);
  color: rgba($color-white, 0.35);

  .space-line {
    margin: 0 0.6rem;
  }

  a[href^="tel"]{
    color: inherit;
    text-decoration: none;
  }
}



@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@include margin-classes;
@include padding-classes;
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}