/* color style */
$color-primary: #caa973;
$color-secondary: #D7007F;
$color-black: #000000;
$color-black-100: #121215;
$color-black-200: #1d1d22;
$color-bline-100: #252529;
$color-bline-200: #2a2a2f;
$color-white: #ffffff;
$color-red: #f41e1e;
$color-gray-100: #202022;
$color-gray-200: #252529;
$color-gray-300: #46464c;
$color-gray-400: #515158;
$color-gray-500: #696971;
$color-gray-600: #969696;
$color-gray-700: #b6b6b6;
$color-gray-800: #dbdbdb;
$color-gray-900: #e2e2e2;


/* border, box-shadow style */
$border: 1px solid rgba($color-gray-200, 1);
$border-input: 1px solid rgba($color-primary, 0.6);
$border-radius: 2.2222vw;
$box-shadow: 0 5px 20px rgba($color-black-100, 0.2);


/* ------------------------------ Position & Size ------------------------------ */
@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}


/* ------------------------------ TYPOGRAPHY ------------------------------ */
@mixin font-size($sizeValue: 13, $heightValue: 15, $weightValue: 400){
	font-size: (0.1 * $sizeValue) + rem;
	line-height: (0.1 * $heightValue);
	font-weight: $weightValue;
}


/* ------------------------------ BUTTON ------------------------------ */
$button-border-radius: 2.2222vw;
$button-font-size: 1.6rem;
$button-padding: 0.875em 2em;

$button-base-color: $color-white;
$button-base-bg: #343437;
$button-primary-bg: $color-primary;

// --- button mixins ------------------------------------------------------------------
@mixin bem-button($name, $bg, $color) {
	.btn--#{$name} {
		background-color: $bg;
    	border-color: $bg;
		color: $color;
		@include bem-button-hover($bg);
	}
}

@mixin bem-button-hover($bg) {
	&:hover {
		background-color: lighten($bg, 5%);
	}
}

@mixin bem-button-size($name, $font-size) {
	.btn--#{$name} {
		font-size: $font-size;
	}
}

@mixin bem-button-bordered($name, $bgcolor, $color) {
	.btn--bordered-#{$name} {
		background: $color-black-100;
		border-color: $bgcolor;
		color: $color;

		&:hover {
			background: $button-base-bg;
			color: darken($color, 10%);
			border-color: darken($bgcolor, 10%);
		}
	}
}


/* ------------------------------ ICON ------------------------------ */
@function icon($iconName, $color:ffffff) {
  $iconList: ( 
    close: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M368,368L144,144 M368,144 L144,368'/%3E%3C/svg%3E",
	  arrow-left: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M328 112L184 256l144 144'/%3E%3C/svg%3E",
	  arrow-right: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M184 112l144 144-144 144'/%3E%3C/svg%3E",
	  arrow-up: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M112 328l144-144 144 144'/%3E%3C/svg%3E",
	  arrow-down: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{$color}' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M112 184l144 144 144-144'/%3E%3C/svg%3E",
    search: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M747.932 9.055c11.764 0 21.336 9.573 21.336 21.337 0 11.766-9.572 21.337-21.336 21.337-11.766 0-21.337-9.571-21.337-21.337 0-11.764 9.571-21.337 21.337-21.337Zm0 50.674c6.783 0 13.032-2.32 18.007-6.202l18.658 18.658 5.656-5.657-18.727-18.727c3.605-4.873 5.742-10.895 5.742-17.409 0-16.175-13.161-29.337-29.336-29.337-16.177 0-29.337 13.162-29.337 29.337 0 16.177 13.16 29.337 29.337 29.337Z' style='fill-rule:nonzero' transform='translate(-288.392 .0634) scale(.40187)'/%3E%3C/svg%3E",
    home: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='m150.598 313.094 28.561-16.666 28.561 16.666v27.619h-25.143v-22.458h-24.106v22.458h-7.873v-27.619Zm-4 35.619h65.122c2.209 0 4-1.791 4-4v-33.916c0-1.423-.755-2.738-1.984-3.455l-32.561-19a3.9996 3.9996 0 0 0-4.032 0l-32.561 19a4.001 4.001 0 0 0-1.984 3.455v33.916c0 2.209 1.791 4 4 4Z' style='fill-rule:nonzero' transform='matrix(.09596 0 0 .10538 -13.6321 -30.1075)'/%3E%3C/svg%3E",
    category: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M588.805 439.308h19.853c2.245 0 3.673 1.311 4.246 3.898.436 1.972 2.283 3.293 4.275 3.102h15.741c3.068 0 5.755 1.698 6.77 4h-55.349v-5c0-3.309 2.003-6 4.464-6Zm51.324 41.778c0 3.252-3.302 6-7.209 6h-41.369c-3.908 0-7.21-2.748-7.21-6v-22.778h55.788v22.778Zm-48.578 14h41.369c8.387 0 15.209-6.28 15.209-14v-28.778c0-7.72-6.822-14-15.209-14h-13.269c-2.047-4.389-6.042-7-10.993-7h-19.853c-6.99 0-12.464 6.149-12.464 14v35.778c0 7.72 6.823 14 15.21 14Z' style='fill-rule:nonzero' transform='translate(-56.2877 -41.665) scale(.09772)'/%3E%3C/svg%3E",
    archive: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M869.656 890.329c.677-.315 1.489-.545 2.417-.545 3.929 0 7.125 4.06 7.125 9.05 0 4.99-3.196 9.05-7.125 9.05-.928 0-1.74-.229-2.418-.545l.001-17.01Zm53.578 17.555c-3.928 0-7.125-4.06-7.125-9.05 0-4.99 3.197-9.05 7.125-9.05.929 0 1.741.23 2.417.545l.001 17.01c-.677.316-1.489.545-2.418.545Zm-36.036-9.05c0-9.401-6.785-17.05-15.125-17.05-.718 0-1.428.066-2.129.176 1.943-13.556 13.626-24.012 27.712-24.012 14.085 0 25.77 10.456 27.711 24.012-.701-.11-1.412-.176-2.133-.176-8.339 0-15.125 7.649-15.125 17.05 0 9.402 6.786 17.05 15.125 17.05 3.26 0 6.364-1.145 8.975-3.312a4.0006 4.0006 0 0 0 1.445-3.083l-.001-2.603h.003v-20.938c0-19.851-16.149-36-36-36-19.85 0-36 16.149-36 36l-.003 23.541a4.0033 4.0033 0 0 0 1.445 3.082c2.61 2.168 5.714 3.313 8.975 3.313 8.34 0 15.125-7.648 15.125-17.05Z' style='fill-rule:nonzero' transform='matrix(.09782 0 0 .09782 -84.2647 -82.9435)'/%3E%3C/svg%3E",
    archive2: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M1068.68 903.163c0 4.225-3.43 7.662-7.66 7.662h-40.82c-4.22 0-7.66-3.437-7.66-7.662v-40.494c0-4.224 3.44-7.662 7.66-7.662h40.82c4.23 0 7.66 3.438 7.66 7.662v40.494Zm-7.66-56.156h-40.82c-8.63 0-15.66 7.026-15.66 15.662v40.494c0 8.636 7.03 15.662 15.66 15.662h40.82c8.64 0 15.66-7.026 15.66-15.662v-40.494c0-8.636-7.02-15.662-15.66-15.662Z' style='fill-rule:nonzero' transform='matrix(.09576 0 0 .09612 -96.1006 -81.2998)'/%3E%3Cpath d='M1036.17 890.196v-14.559l10.06 7.279-10.06 7.28Zm19.23-10.52-20.88-15.114c-1.22-.881-2.83-1.005-4.16-.322-1.34.683-2.19 2.059-2.19 3.562v30.229c0 1.502.85 2.878 2.19 3.562.57.293 1.19.438 1.81.438.83 0 1.66-.257 2.35-.76l20.88-15.115c1.03-.752 1.65-1.957 1.65-3.24 0-1.283-.62-2.487-1.65-3.24Z' style='fill-rule:nonzero' transform='matrix(.09576 0 0 .09612 -96.1006 -81.2998)'/%3E%3C/svg%3E",
    setting: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M612.234 621.064c-10.201 0-18.5-8.299-18.5-18.5s8.299-18.5 18.5-18.5c10.202 0 18.5 8.299 18.5 18.5s-8.298 18.5-18.5 18.5Zm31.952-22.674h-2.05c-3.828-.961-5.345-5.824-5.345-5.824l.005.065c-.055-.134-.105-.269-.161-.402l.025.029s-2.961-5.613.53-9.016l-.709.558 1.174-1.175c1.563-1.561 1.563-4.094 0-5.656-1.56-1.563-4.095-1.563-5.656 0l-1.367 1.367c-3.405 2.256-8.103-.21-8.103-.21l.044.038c-.138-.058-.281-.111-.421-.168l.067.005s-5.844-1.818-5.985-6.511v-1.051c0-2.209-1.791-4-4-4s-4 1.791-4 4v.813c.062 4.874-6 6.749-6 6.749l.086-.007c-.146.06-.294.116-.439.177l.046-.039s-4.651 2.44-8.052.241l-1.405-1.404c-1.561-1.563-4.096-1.563-5.656 0-1.563 1.562-1.563 4.095 0 5.656l1.249 1.249-.798-.627c3.492 3.404.531 9.016.531 9.016l.048-.056c-.064.148-.119.298-.18.447l.006-.081s-1.84 5.923-6.599 5.991h-.788c-2.209 0-4 1.791-4 4s1.791 4 4 4h.727c4.805.014 6.66 5.994 6.66 5.994l-.006-.085c.059.145.113.293.175.436l-.038-.044s2.45 4.67.228 8.074l-1.215 1.216c-1.563 1.561-1.563 4.094 0 5.656.78.781 1.804 1.172 2.828 1.172 1.023 0 2.048-.391 2.828-1.172l1.045-1.045-.599.762c3.403-3.492 9.016-.531 9.016-.531l-.043-.038c.137.059.279.112.418.168l-.065-.005s5.951 1.847 5.992 6.63v.589c0 2.209 1.791 4 4 4s4-1.791 4-4v-.589c.041-4.783 5.993-6.63 5.993-6.63l-.065.005c.133-.054.269-.103.401-.159l-.028.023s5.613-2.96 9.016.531l-.587-.746 1.035 1.035c.78.781 1.805 1.172 2.828 1.172 1.024 0 2.048-.391 2.828-1.172 1.563-1.562 1.563-4.095 0-5.656l-1.212-1.212c-2.231-3.405.223-8.082.223-8.082l-.028.032c.055-.13.104-.263.157-.395l-.004.052s1.875-6.062 6.75-6l-1.335-.16h1.98c2.209 0 4-1.791 4-4s-1.791-4-4-4Z' style='fill-rule:nonzero' transform='matrix(.0975 0 0 .0975 -56.1552 -55.1736)'/%3E%3C/svg%3E",   
    cscenter: "%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M1331.51 14.139c15.35 0 27.83 9.553 27.83 21.294 0 11.743-12.48 21.294-27.83 21.294-2.56 0-5.09-.266-7.52-.792-.05-.01-.1-.008-.15-.016-.14-.024-.27-.036-.41-.046-.13-.009-.25-.019-.38-.016-.13.003-.26.019-.38.034-.13.016-.26.031-.39.059-.12.027-.24.068-.37.107-.12.041-.24.081-.36.134-.12.05-.23.11-.34.172-.12.068-.24.138-.35.218-.05.029-.09.047-.13.077-2.42 1.836-5.54 2.427-8.44 2.466 1.69-3.825.15-7.386-.04-7.787-.01-.03-.03-.053-.05-.082-.06-.129-.14-.249-.22-.372-.06-.106-.13-.214-.2-.313-.07-.094-.16-.178-.24-.266-.1-.11-.2-.219-.32-.316-.02-.021-.04-.046-.06-.066-4.83-3.967-7.48-9.112-7.48-14.489 0-11.741 12.48-21.294 27.83-21.294Zm-26.44 41.094c.01.221-.01.475-.11.696-.35.724-1.63 1.431-3.44 1.892-1.72.438-2.95 1.96-3.01 3.735-.06 1.776 1.06 3.38 2.74 3.938.34.111 4.97 1.607 10.66 1.607 3.89 0 8.27-.703 12.11-3.023 2.45.424 4.96.649 7.49.649 19.76 0 35.83-13.14 35.83-29.294 0-16.152-16.07-29.294-35.83-29.294-19.76 0-35.83 13.142-35.83 29.294 0 7.412 3.32 14.394 9.39 19.8Z' style='fill-rule:nonzero' transform='matrix(.09668 0 0 .11343 -125.1624 -.6064)'/%3E%3Cpath style='fill-rule:nonzero' d='M1315.44 26.275h33.17v8h-33.17zM1315.44 39.275h21.17v8h-21.17z' transform='matrix(.09668 0 0 .11343 -125.1624 -.6064)'/%3E%3C/svg%3E",
    cscenter2: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M869.656 890.329c.677-.315 1.489-.545 2.417-.545 3.929 0 7.125 4.06 7.125 9.05 0 4.99-3.196 9.05-7.125 9.05-.928 0-1.74-.229-2.418-.545l.001-17.01Zm53.578 17.555c-3.928 0-7.125-4.06-7.125-9.05 0-4.99 3.197-9.05 7.125-9.05.929 0 1.741.23 2.417.545l.001 17.01c-.677.316-1.489.545-2.418.545Zm-36.036-9.05c0-9.401-6.785-17.05-15.125-17.05-.718 0-1.428.066-2.129.176 1.943-13.556 13.626-24.012 27.712-24.012 14.085 0 25.77 10.456 27.711 24.012-.701-.11-1.412-.176-2.133-.176-8.339 0-15.125 7.649-15.125 17.05 0 9.402 6.786 17.05 15.125 17.05 3.26 0 6.364-1.145 8.975-3.312a4.0006 4.0006 0 0 0 1.445-3.083l-.001-2.603h.003v-20.938c0-19.851-16.149-36-36-36-19.85 0-36 16.149-36 36l-.003 23.541a4.0033 4.0033 0 0 0 1.445 3.082c2.61 2.168 5.714 3.313 8.975 3.313 8.34 0 15.125-7.648 15.125-17.05Z' style='fill-rule:nonzero' transform='matrix(.40758 0 0 .40758 -351.103 -345.598)'/%3E%3C/svg%3E",
    time: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin: round; stroke-miterlimit:2'%3E%3Cpath d='M711.676 125.125c.001-12.88 10.441-23.32 23.323-23.322 12.879.002 23.319 10.442 23.321 23.322-.002 12.88-10.442 23.319-23.321 23.321-12.882-.002-23.322-10.441-23.323-23.321Zm9.596-13.726c-3.517 3.518-5.685 8.358-5.687 13.726.002 5.367 2.17 10.207 5.687 13.726 3.52 3.517 8.36 5.686 13.727 5.687 5.366-.001 10.207-2.17 13.725-5.687 3.517-3.519 5.686-8.359 5.688-13.726-.002-5.368-2.171-10.208-5.688-13.726-3.518-3.518-8.359-5.687-13.725-5.687-5.367 0-10.207 2.17-13.727 5.687Z' style='fill:%23#{$color}; fill-rule:nonzero' transform='matrix(.61204 0 0 .61204 -435.112 -61.8536)'/%3E%3Cpath d='M733.043 127.08v-16.112h3.91v12.202h8.263v3.91h-12.173Z' style='fill:%23#{$color}; fill-rule:nonzero' transform='matrix(.61204 0 0 .61204 -435.112 -61.8536)'/%3E%3C/svg%3E",
    share: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M1442.65 346.158h63.79c2.21 0 4-1.791 4-4V321h-8v17.158h-55.79V321h-8v21.158c0 2.209 1.79 4 4 4Z' style='fill-rule:nonzero' transform='matrix(.39054 0 0 .42568 -561.119 -119.693)'/%3E%3Cpath d='M1478.54 333.497v-28.911l10.25 10.249 5.66-5.656-17.08-17.076c-1.56-1.563-4.09-1.563-5.65 0l-17.08 17.076 5.66 5.656 10.24-10.249v28.933l8-.022Z' style='fill-rule:nonzero' transform='matrix(.39054 0 0 .42568 -561.119 -122.291)'/%3E%3C/svg%3E",
    archive-save: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M1340.53 1141.29h-8v27.16h-27.49v8h27.49v27.17h8v-27.17h27.49v-8h-27.49v-27.16Z' style='fill-rule:nonzero' transform='matrix(.43514 0 0 .43514 -566.918 -495.44)'/%3E%3C/svg%3E",
    play: "%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill:%23#{$color}; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M119 490.5c0-118.8-7.9-238.3 2.1-356.3 11-130.4 97.3-171.6 206.6-97.6C495.4 150.4 658.2 272 819.3 395.1c85.7 65.4 85.2 143.3-2 208.8-166.1 124.8-332.6 249.4-504.1 366.6-92.7 63.4-179.4 21.3-189.2-94.1-10.9-127.8-5-257.2-5-385.9Z' style='fill-rule:nonzero' transform='matrix(.0267 0 0 .0267 1.7705 1.2286)'/%3E%3C/svg%3E",
  );
  $icon: map-get($iconList, $iconName);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}


/* ------------------------------ Margin & Padding ------------------------------ */
$sizes: 16;
@mixin margin-classes {
  @for $i from 0 through $sizes {
     $margin: $i * 4px;
    /* margin #{$margin} */
    .m#{$i}  {margin: $margin;}
    .ml#{$i} {margin-left: $margin;}
    .mr#{$i} {margin-right: $margin;}
    .mt#{$i} {margin-top: $margin;}
    .mb#{$i} {margin-bottom: $margin;}
    .mx#{$i} {margin-left: $margin; margin-right: $margin;}
    .my#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 4px;
    /* padding #{$padding} */
    .p#{$i} {padding: $padding;}
    .pl#{$i} {padding-left: $padding;}
    .pr#{$i} {padding-right: $padding;}
    .pt#{$i} {padding-top: $padding;}
    .pb#{$i} {padding-bottom: $padding;}
    .px#{$i} {padding-left: $padding; padding-right: $padding;}
    .py#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}